.main {
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-image: url('../assets/images/bg-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    @include table {
        background-color: var(--very-dark-blue);
        background-image: url('../assets/images/bg-desktop.png');
        background-position: bottom;
    }

    &__container{
        width: 100%;
        max-width: 60rem;
        padding-top: 7rem;      // 128px;
        padding-bottom: 8rem;      // 128px;
        --min-pl: 1.625rem;
        --min-pr: 1.5rem;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        text-align: center;

        @include table {
            padding-top: 2.25rem;
            flex-direction: row;
        }
    }

    &__logo{
        margin-bottom: 2rem;
    }
    
    &__box {
        position: relative;
        padding: 2.25rem 2.5rem;
        margin-left: 1.625rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
    
        background-color: var(--dark-blue);    

        border-radius: 15px;
        
        &:not(:last-child) {
            border-top-right-radius: 5rem;
        }

        @include table {
            // width: 50%;
        }
    }
}

.main__icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    line-height: 3;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--very-dark-blue);
    
    &:hover {
        opacity: .8;
    }
    
    &:not(:last-child) {
        margin-right: .5rem;
    }
}

.main__title {
    color: var(--pale-blue);
    margin-bottom: 1rem;

    span {
        font-size: 1rem;
        font-weight: 700;
    }
}

.main__used{
    position: relative;
    width: 100%;
    display: flex;
    font-weight: 700;
    padding: 1.5rem 0 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
    &::before {
        position: absolute;
        margin-bottom: 1rem;

        top: 0;
        left: 0;
        content: '';
        width: 75%;
        height: 15px;
        border-radius: 10px;
        z-index: 1;
        background: var(--gradient);
    }
    
    &::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        top: 0;
        left: 75%;
        z-index: 1;
        transform: translate(-100%);   
    }

    .bar {
        position: absolute;
        width: 100%;
        height: 15px;
        outline: none;
        border-radius: 10px;
        top: 0;
        background-color: var(--very-dark-blue);
    }

}

.left {
    width: fit-content;    
    position: absolute;
    padding: .5rem 1.5rem;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--white);
    color: var(--grayish-blue);
    font-weight: 700;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
    span {
        font-size: 2.5rem;
        color: var(--very-dark-blue);
        margin-right: .1rem;
        
    }
    
    @include table {
        top: 0;
        left: 90%;
        transform: translate(-100%, -50%);
        border-bottom-right-radius: 0;
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;

            transform: translate(0, 100%);
            border-top: 10px solid white;
            border-bottom: 10px solid transparent;
            border-left: 10px solid  transparent;
            border-right: 10px solid white;
        }
    }
}


.box2{
    @include table {
        flex-grow: 2;
        align-self: flex-end;
    }
}